@using Microsoft.AspNetCore.Http
@using GraniteHouse.Extensions
@using GraniteHouse.utility

@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] GraniteHouse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <link rel="stylesheet" href="~/css/jquery.timepicker.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

            <a class="navbar-brand" asp-action="Index" asp-area="Customer" asp-controller="Home">Granite House</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" asp-action="Index" asp-area="Customer" asp-controller="Home">Home</a></li>

                    @if (User.IsInRole(SD.SuperAdminEndUser) || User.IsInRole(SD.AdminEndUser))
                    {

                <li class="nav-item"><a class="nav-link" asp-action="Index" asp-area="Admin" asp-controller="ProductsTypes">Products Types</a></li>
                                <li class="nav-item"><a class="nav-link" asp-action="Index" asp-area="Admin" asp-controller="SpecialTags">Special Tags</a></li>
                                                <li class="nav-item"><a class="nav-link" asp-action="Index" asp-area="Admin" asp-controller="Products">Products</a></li>
                                                                <li class="nav-item"><a class="nav-link" asp-action="Index" asp-area="Admin" asp-controller="AdminUsers">Admin User</a></li>}
                    @if (User.IsInRole(SD.SuperAdminEndUser) || User.IsInRole(SD.AdminEndUser))
                    {

                <li class="nav-item"><a class="nav-link" asp-action="Index" asp-area="Admin" asp-controller="Appointments">Appointments</a></li>
                    }
                    @if (HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShopingCart") != null)
                                {

                <li style="color:white">
                    <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                        <i class="fas fa-shopping-cart"></i> &nbsp;
                        @{ var count = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShopingCart").Count; }
                        (@count)

                    </a>

                </li>
 }
            else
            {

                <li style="color:white">
                    <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                        <i class="fas fa-shopping-cart"></i> &nbsp;
                        (0)
                    </a>

                </li>
}
                                            </ul>
            </div>
            <div>
                <partial name="_LoginPartial" />
            </div>

        </nav>










        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GraniteHouse</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - GraniteHouse - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
    <script src="~/js/jquery.timepicker.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
